<footer class="site-footer">
    <div class="wrapper">
        <div class="left">
            &copy; 2017-2018 <a href="https://github.com/lah7">Luke Horwell</a> and
            <a href="{{ site.polychromatic_repo }}/graphs/contributors">Contributors</a>
            <br/>
            This application is complementary for use with
            <a href="{{ site.openrazer_website }}">OpenRazer</a>.
        </div>
        <div class="social-links">
            <a href="{{ site.facebook_page }}" title="p0lychromatic on Facebook">
                <img src="/assets/img/social/facebook.svg" alt="Facebook logo"/>
            </a>
            <a href="{{ site.twitter_page }}" title="p0lychromatic on Twitter">
                <img src="/assets/img/social/twitter.svg" alt="Twitter logo"/>
            </a>
        </div>
        <div class="right">
            <a href="{{ site.polychromatic_org }}">View on GitHub</a>
            <a href="/donate">Donate</a>
        </div>
    </div>
</footer>
