<footer class="site-footer">
    <div class="wrapper">
        <div class="left">
            &copy; 2016-{{ site.time | date:'%Y' }}
            <a href="https://github.com/lah7">Luke Horwell</a> and
            <a href="{{ site.polychromatic_repo }}/graphs/contributors">Contributors</a>
            <br/>
            This application is complementary for use with
            <a href="{{ site.openrazer_website }}">OpenRazer</a>.
        </div>
        <div class="social-links">
            <a href="{{ site.polychromatic_org }}" title="Polychromatic on GitHub">
                <img src="/assets/img/social/github.svg" alt="GitHub logo"/>
            </a>
            <a href="{{ site.rss_feed }}" title="Release Notes RSS Feed">
                <img src="/assets/img/social/rss.svg" alt="RSS logo"/>
            </a>
            <a href="https://twitter.com/{{ site.twitter }}" title="@{{ site.twitter }}">
                <img src="/assets/img/social/twitter.svg" alt="Twitter logo"/>
            </a>
        </div>
    </div>
</footer>
