<header class="site-header" role="banner">

    {% include site-switcher.html %}

    <div class="site-header-content wrapper">
        <a class="site-title" href="/">
            <img src="/assets/img/logo.svg" alt="Polychromatic Logo"/>
            <span>polychromatic</span>
        </a>

        <nav class="site-nav">
            <input type="checkbox" id="mobile-menu-toggle" />
            <label id="mobile-menu-button" for="mobile-menu-toggle">
                {% include svg/menu.svg %}
            </label>

            <div class="nav-menu">
                {% for item in site.data.navigation %}
                    <a id="nav-{{ item.class }}" href="{{ item.url }}" class="nav-btn {% if page.class == item.class %}active{% endif %}">{{ item.text }}</a>
                {% endfor %}
            </div>
        </nav>
    </div>
</header>
