<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | escape }}{% else %}{{ site.keywords | escape }}{% endif %}">
    <meta name="author" content="Luke Horwell">
    <meta property="og:site_name" content="Polychromatic">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} |{% endif %} {{ site.title | escape }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ site.twitter }}">

    {% for stylesheet in site.stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}">

    <link rel="manifest" href="/assets/manifest.json">

    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
    {% assign favicons = "16,32,64,96,144,196,256" | split: "," %}
    {% for icon in favicons %}
    <link rel="icon" type="image/png" sizes="{{ icon }}x{{ icon }}" href="/assets/favicon/{{ icon }}x{{ icon }}.png">
    <link rel="apple-touch-icon" sizes="{{ icon }}x{{ icon }}" href="/assets/favicon/{{ icon }}x{{ icon }}.png">
    {% endfor %}

</head>
