@import 'variables.scss';

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        color: $secondary;
        text-decoration: underline;

        code {
            color: green;
        }
    }

    &:focus {
        outline-color: $primary;
    }
}

hr {
    border-color: $bg-colour;
}

h1, h2, h3 {
    color: $primary;
    font-weight: 500;
}

pre {
    background: $bg-secondary;
    border: 1px solid $bg-colour;
    color: lime;
    padding: 1em 1.5em;
    overflow-x: auto;
}

code {
    color: #A9A9A9;
    font-size: 1.1em;
}
