@import 'variables.scss';

.btn {
    background-color: $bg-button;
    color: $button-text;
    border: 2px solid $border-colour;
    display: inline-block;
    text-decoration: none;
    padding: 0.25em 1em;
    margin: 0.25em;
    font-size: 1em;
    line-height: 1.5em;

    &:focus {
        background-color: darken($bg-button, 5%);
        color: #fff;
    }

    &:hover {
        background-color: lighten($bg-button, 5%);
        color: #fff;
        text-decoration: none;
    }

    &:active {
        background-color: darken($bg-button, 5%);
        border-color: darken($border-colour, 5%);
        color: $primary;
    }

    &:disabled {
        background: $bg-secondary;
        color: $grey-colour;
    }
}

.btn.ext {
    background-image: url(/assets/fa/external.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 1em;
    padding-right: 2em;
    filter: grayscale(1);

    &:active {
        filter: grayscale(0);
    }
}
