@import 'variables.scss';

.btn {
    background-color: $bg-button;
    color: $button-text;
    border: 2px solid $border-colour;
    display: inline-flex;
    text-decoration: none;
    padding: 0.25em 1em;
    margin: 0.25em;
    font-size: 1em;
    line-height: 1.5em;

    &:focus {
        background-color: darken($bg-button, 5%);
        color: #fff;
    }

    &:hover {
        background-color: lighten($bg-button, 5%);
        color: #fff;
        text-decoration: none;
    }

    &:active {
        background-color: darken($bg-button, 5%);
        border-color: darken($border-colour, 5%);
        color: $primary;
    }

    &:disabled,
    &.disabled {
        /* For best results, do not use as <a> tag */
        background: $bg-secondary;
        color: $grey-colour;
        cursor: not-allowed;
        transition: border-color $btn-speed;

        img, span {
            filter: grayscale(1);
            opacity: 0.75;
        }

        &:active {
            border-color: $red;
            transition: none;
        }
    }

    /* Icons */
    img,
    svg {
        height: 24px;
        width: 24px;
        margin: auto;
        margin-right: 0.25em;
    }

    svg {
        height: 16px;
        width: 16px;
        margin-right: 0.5em;

        path {
            fill: $button-text;
        }
    }
}

.btn.ext {
    background-image: url(/assets/fa/external.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 1em;
    padding-right: 2em;
    filter: grayscale(1);

    &:active {
        filter: grayscale(0);
    }
}

/* Copy button for code blocks */
pre {
    position: relative;

    &.copied {
        animation: pre-block-copied 0.75s ease-in-out forwards;
        border-image-slice: 1;

        .copy-btn {
            background: $bg-colour;
            border-color: transparent;
        }
    }

    &:hover .copy-btn,
    &:focus .copy-btn {
        opacity: 1;
    }
}

.copy-btn {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 0.35em;
    margin: 0;

    &:hover,
    &:focus {
        background: $bg-button;
        color: #fff;
    }

    img {
        height: 1em;
        width: 1em;
        margin: auto;
    }
}

@keyframes pre-block-copied {
    0% { border-image: linear-gradient(315deg, $bg-colour, $bg-colour, $bg-colour, $bg-colour) 1; }
    10% { border-image: linear-gradient(315deg, $secondary, $bg-colour, $bg-colour, $bg-colour) 1; }
    20% { border-image: linear-gradient(315deg, $secondary, $secondary, $bg-colour, $bg-colour) 1; }
    30% { border-image: linear-gradient(315deg, $secondary, $secondary, $secondary, $bg-colour) 1; }
    40% { border-image: linear-gradient(315deg, $secondary, $secondary, $secondary, $secondary) 1; }
    50% {
        border-color: $secondary;
    }
    100% {
        border-color: $bg-colour;
    }
}
