@import "variables.scss";

$roadmap-line: #00FF00;

.sidebar {
    min-height: calc(100vh - 192px) !important;
    background: black;
    padding: 1em;

    .category-heading {
        color: $sidebar-heading;
        margin-top: 1em;
        padding: 0.25em 0;
        border-bottom: 1px solid darken($sidebar-heading, 40%);
    }

    .category {
        display: block;
        padding: 0.25em 1em;
        border-bottom: 1px solid darken($sidebar-heading, 40%);

        &:hover,
        &:focus {
            background: #313131;
            color: white;
            text-decoration: none;
        }

        &.active {
            background: green;

            &:hover,
            &:focus {
                color: white;
                text-decoration: none;
            }
        }
    }

    .category-home {
        @extend .category;
        padding: 0.5em 0;
    }
}

.topic {
    .page-title {
        color: white;
        font-weight: 400;
    }

    img {
        max-width: 100%;
        box-shadow: 0 0 20px green;
    }
}

.roadmap {
    padding-bottom: 4em;
    padding: 1em;

    .line {
        background: linear-gradient(to right, rgba(0,0,0,0) 45%, $roadmap-line 50%, rgba(0,0,0,0) 55%);
        text-align: center;
        width: 4em;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0), black);
            height: 2em;
            width: 10%;
            margin: auto;
        }

    }

    .col {
        padding: 0;
    }

    .circle {
        height: 2em;
        width: 2em;
        border: 2px solid $roadmap-line;
        margin: auto;
        border-radius: 100%;
        background: $bg-colour;

        &.checked,
        &.progress {
            background: $roadmap-line;
            background-repeat: no-repeat;
            background-size: 1.5em;
            background-position: center;
            box-shadow: lime 0 0 2em;
            animation: glow 10s infinite;
        }

        &.progress {
            border-radius: 100%;
            border: none;
            box-shadow: none;
            background-image: url(/assets/img/docs/progress.svg);
            background-size: 100%;
            animation: loop 2s infinite linear;
        }

        &.checked {
            background-image: url(/assets/img/checkmark-dark.svg);
        }
    }

    h3 {
        margin: 0 0 0.5em;
        padding: 0.25em 0;
    }

    ul {
        margin: 0;

        &:last-child {
            margin-bottom: 2em;
        }

        &.completed {
            li {
                list-style-image: url(/assets/img/checkmark.svg);
            }
        }

        &.pending {}
    }
}

@keyframes glow {
    0% {
        box-shadow: lime 0 0 0.25em;
    }

    50% {
        box-shadow: lime 0 0 3em;
    }

    100% {
        box-shadow: lime 0 0 0.25em;
    }
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
