@import "variables.scss";

$roadmap-line: #00FF00;

.sidebar {
    min-height: calc(100vh - 192px) !important;
    background: black;
    padding: 1em;

    .category-heading {
        color: $sidebar-heading;
        margin-top: 1em;
        padding: 0.25em 0;
        border-bottom: 1px solid darken($sidebar-heading, 40%);

        &:first-child {
            margin-top: 0;
        }
    }

    .category {
        display: block;
        padding: 0.25em 1em;
        border-bottom: 1px solid darken($sidebar-heading, 40%);

        &:hover,
        &:focus {
            background: #313131;
            color: white;
            text-decoration: none;
        }

        &.active {
            background: green;

            &:hover,
            &:focus {
                color: white;
                text-decoration: none;
            }
        }

        &.indent-1 {
            padding-left: 30px;
        }

        &.indent-2 {
            padding-left: 60px;
        }

        &.disabled {
            opacity: 0.5;
            filter: grayscale(1);
            pointer-events: none;
        }
    }

    .category-home {
        @extend .category;
        padding: 0.5em 0;
    }
}

.topic {
    .page-title {
        color: white;
        font-weight: 400;
    }

    img {
        max-width: 100%;
        box-shadow: 0 0 20px green;
    }

    h2, h3, h4 {
        margin-top: -125px;
        padding-top: 135px;

        img {
            box-shadow: none;
            max-height: 32px;
            max-width: 32px;
            vertical-align: middle;
        }
    }

    hr {
        border-top: 2px solid $table-colour-head;
        margin: 30px 0;
    }

    table img {
        box-shadow: none;
        max-height: 32px;
        max-width: 32px;
        margin-right: 2px;
        vertical-align: middle;

        + a {
            vertical-align: middle;
        }
    }
}

blockquote {
    background: $pre-colour;
    border-left: 4px solid lighten($pre-colour, 25%);
    color: lighten($pre-colour, 50%);
    margin: 15px 0;

    p {
        padding: 10px;
    }
}

.roadmap {
    padding-bottom: 4em;
    padding: 1em;

    .line {
        background: linear-gradient(to right, rgba(0,0,0,0) 45%, $roadmap-line 50%, rgba(0,0,0,0) 55%);
        text-align: center;
        width: 4em;
        position: relative;

        &:after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0), black);
            height: 2em;
            width: 10%;
            margin: auto;
        }

    }

    .col {
        padding: 0;
    }

    .circle {
        height: 2em;
        width: 2em;
        border: 2px solid $roadmap-line;
        margin: auto;
        border-radius: 100%;
        background: $bg-colour;

        &.checked,
        &.progress {
            background: $roadmap-line;
            background-repeat: no-repeat;
            background-size: 1.5em;
            background-position: center;
            box-shadow: lime 0 0 2em;
            animation: glow 5s infinite;
        }

        &.progress {
            border-radius: 100%;
            border: none;
            box-shadow: none;
            background-image: url(/assets/img/docs/progress.svg);
            background-size: 100%;
            animation: loop 2s infinite linear;
        }

        &.checked {
            background-image: url(/assets/img/checkmark-dark.svg);
        }
    }

    h3 {
        margin: 0 0 0.5em;
        padding: 0.25em 0;
    }

    ul {
        margin: 0;
        padding-left: 15px;
        list-style: none;
        position: relative;


        &:last-child {
            margin-bottom: 2em;
        }

        .bullet,
        .circle,
        .check {
            background-size: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            height: 16px;
            width: 16px;
        }

        &.pending .bullet {
            background-image: url(/assets/img/bullet.svg);
        }

        &.in_progress {
            color: #00ff00;
            position: relative;

            .circle {
                animation: loop 1s linear infinite;
                border: none;
                background-image: url(/assets/img/docs/progress-mini.svg);
                background-size: 100%;
                margin-top: 2px;
                height: 16px;
                width: 16px;
            }
        }

        &.completed .check {
            background-image: url(/assets/img/checkmark.svg);
        }
    }
}

@keyframes glow {
    0% {
        box-shadow: lime 0 0 0.25em;
    }

    50% {
        box-shadow: lime 0 0 1em;
    }

    100% {
        box-shadow: lime 0 0 0.25em;
    }
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

/* JavaScript-assisted classes for table */
.yes {
    color: lime;

    &::before {
        content: "✓ ";
    }
}

.no {
    color: red;

    &::before {
        content: "✗ ";
    }
}

/* Mini tweaks */
.dependency-table {
    margin-bottom: 15px;

    img {
        cursor: help;
    }
}
