@import 'variables.scss';

footer {
    border-top: 1px solid gray;
    padding: 1em 0;
    color: gray;
    font-size: 0.9em;
    margin-top: auto;
    background: #000;
    line-height: 18px;
    z-index: 5;

    .left {
        float: left;

        a {
            color: gray;
            text-decoration: dashed;
            text-decoration-line: underline;
        }
    }

    .right {
        float: right;
        position: relative;
        top: 0.6em;
    }

    .social-links {
        float: right;
        position: relative;
        top: 0.2em;
        margin-left: 0.5em;

        img {
            width: 32px;
            height: 32px;
            padding: 0 0.15em;
            transition: opacity 0.2s;
            opacity: 1;
        }

        a {
            &:hover,
            &:focus {
                img {
                    opacity: 0.75;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        &.left,
        &.right {
            text-align: center;
            padding: 0.5em 0;
            float: none;
            position: static;
        }

        .social-links {
            margin-top: 0.5em;
        }
    }
}

/* Sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
