@import 'variables.scss';

body > header {
    border-bottom: 1px solid lime;
    background-color: black;
    background-image: url(/assets/img/header-keys.svg);
    background-size: cover;
    background-position: center;
    animation: smooth-header 0.5s linear forwards;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        background: linear-gradient(to right, rgba(0,0,0,0.5), black);
    }
}

#header-block {
    height: $header-height;
}

@keyframes smooth-header {
    0% {
        background-color: black;
    }

    100% {
        background-color: lime;
    }
}

.site-title {
    text-decoration: none !important;

    * {
        vertical-align: middle;
    }

    span {
        font-size: 2em;
    }

    &:hover {
        img {
            opacity: 0.75;
        }
    }
}

.site-nav {
    float: right;

    a {
        color: lime;
        line-height: 4em;

        & + a {
            margin-left: 0.5em;
        }

        &.active {
            color: white;
            font-weight: bold;
        }
    }

    .seperator {
        display: inline-block;
        cursor: default;
        color: lime;
        margin: 0 0.25em;
        font-size: 1.5em;
        vertical-align: middle;

        &:last-child {
            display: none;
        }
    }

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #111;
        line-height: 1.5;
    }

    .page-link:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .site-title {
        span {
            display: none;
        }
    }

    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #484848;
        border: 1px solid #000;
        border-radius: 5px;
        text-align: right;
        margin-top: 0.75em;

        a {
            display: block;
            padding: 0 1em;
        }

        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .menu-icon>svg path {
            fill: #808080;
        }

        input~.trigger {
            clear: both;
            display: none;
        }

        input:checked~.trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            margin-left: 20px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}
