@import 'variables.scss';

.site-header {
    background: rgba(0,0,0,0.25);
    background-image: url(/assets/img/header.svg);
    background-size: contain;
    background-position: -350px center;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 4px #000;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .site-inner {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.site-header-content {
    display: flex;
    height: $header-height - 35px;
}

.site-title {
    text-decoration: none !important;
    margin: auto auto auto 0;

    * {
        vertical-align: middle;
    }

    span {
        font-size: 2em;
    }

    &:hover {
        img {
            opacity: 0.75;
        }
    }
}

.site-nav {
    margin: auto;
    margin-right: 0;

    a {
        color: lime;
        line-height: 4em;

        & + a {
            margin-left: 0.5em;
        }

        &.active {
            color: white;
            font-weight: bold;
        }
    }

    .seperator {
        display: inline-block;
        cursor: default;
        color: lime;
        margin: 0 0.25em;
        font-size: 1.5em;
        vertical-align: middle;

        &:last-child {
            display: none;
        }
    }

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #111;
        line-height: 1.5;
    }

    .page-link:not(:last-child) {
        margin-right: 20px;
    }

    .external {
        margin-left: 2px;

        img {
            height: 10px;
            width: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .site-title {
        span {
            display: none;
        }
    }

    body > header .wrapper {
        padding-top: 40px;
        padding-bottom: 34px;
    }

    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: transparent;
        border: none;
        text-align: right;
        margin: 1.5em 0;

        a {
            display: block;
            padding: 0 1em;
        }

        label[for="nav-trigger"] {
            display: block;
            background: black;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
            margin: 15px 0;
        }

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
        }

        .seperator {
            display: none;
        }

        .menu-icon > svg path {
            fill: #808080;
        }

        input ~ .trigger {
            clear: both;
            display: none;
        }

        input:checked ~ .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            margin-left: 20px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }

        > .trigger {
            background: black;
            text-align: left;
        }
    }
}
