@import 'variables.scss';

.feature-tile {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.feature {
    padding: 1em;

    img {
        padding: 1em;
        width: 100%;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }
}

.feature-page {
    margin: 2em 0;

    &.odd {
        .img {
            text-align: right;
        }

        .text {
            text-align: left;
        }
    }

    &.even {
        .img {
            text-align: left;
        }

        .text {
            text-align: right;
        }
    }

    img {
        margin: 1em 0;
        height: 100%;
        max-height: 200px;
    }
}

.center {
    text-align: center;
}
