@import 'variables.scss';

.feature-tile {
    text-align: center;
    padding: 0;

    img {
        max-width: 100%;
    }

    p {
        padding: 0 4em;
    }
}

.feature {
    padding: 1em 0;

    img {
        padding: 1em;
        width: 100%;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    h2 {
        margin-top: 2em;
    }
}

.feature-page {
    margin: 2em 0;

    &.odd {
        .img {
            text-align: right;
        }

        .text {
            text-align: left;
        }
    }

    &.even {
        .img {
            text-align: left;
        }

        .text {
            text-align: right;
        }
    }

    img {
        margin: 1em 0;
        height: 100%;
        max-height: 300px;
    }
}

.center {
    text-align: center;
}

.grey {
    color: grey;
}

.distros {
    margin: 2em 0;

    .col {
        text-align: center;
        background: black;
        box-shadow: 0px 0px 5px lime;
        margin: 0 0.5em;
        padding: 1em;
        transition: box-shadow $btn-speed, filter $btn-speed;

        &:hover,
        &:focus {
            box-shadow: 0 0 15px lime;
            text-decoration: none;

            img {
                filter: grayscale(0);
            }

            span {
                color: lime;
            }
        }

        &:active,
        &.active {
            background-color: green;

            span {
                color: white;
            }
        }

        img {
            width: 100%;
            filter: grayscale(1);
            transition: filter $btn-speed;
        }

        span {
            display: block;
            margin-top: 1em;
            color: green;
            transition: color $btn-speed;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .distros {
        img {
            max-width: 100px;
        }
    }
}

.download-page {
    .distro-logo {
        width: 100%;
        padding: 2em;
    }
}

.back-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    margin-top: 1.25em;

    img {
        position: absolute;
        right: -1em;
        width: 1.5em;
        height: 1.5em;
    }

    &:hover,
    &:focus {
        img {
            opacity: 0.5;
        }
    }
}
