@import 'variables.scss';

a {
    color: lime;
    text-decoration: none;

    &:hover {
        color: green;
        text-decoration: underline;

        code {
            color: green;
        }
    }

    &:focus {
        outline-color: lime;
    }
}

.btn {
    background-color: $bg-button;
    color: $button-text;
    border: 2px solid $border-colour;
    display: inline-block;
    text-decoration: none;
    padding: 0.25em 1em;
    margin: 0.25em;
    font-size: 1em;
    line-height: 1.5em;

    &:focus {
        background-color: darken($bg-button, 5%);
        color: #fff;
    }

    &:hover {
        background-color: lighten($bg-button, 5%);
        color: #fff;
        text-decoration: none;
    }

    &:active {
        background-color: darken($bg-button, 5%);
        border-color: darken($border-colour, 5%);
        color: $primary;
    }

    &:disabled {
        background: $bg-secondary;
        color: $grey-colour;
    }
}

.btn.ext {
    background-image: url(/assets/fa/external.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 1em;
    padding-right: 2em;
    filter: grayscale(1);

    &:active {
        filter: grayscale(0);
    }
}

hr {
    border-color: $bg-colour;
}

h1, h2, h3 {
    color: lime;
    font-weight: 500;
}

pre {
    background: $bg-secondary;
    color: lime;
    padding: 1em;
    overflow-x: auto;
}

code {
    color: lightgrey;
    font-size: 1.1em;
}
