@import 'variables.scss';

a {
    color: lime;
    text-decoration: none;

    &:hover {
        color: green;
        text-decoration: underline;

        code {
            color: green;
        }
    }

    &:focus {
        outline-color: lime;
    }
}

.homepage-buttons {
    margin: 2em 0;
    text-align: center;
}

.button-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.btn {
    width: auto;
    height: 2.5em;
    background-color: #323232;
    color: #ded9cb;
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0.25em;
    font-size: 1em;
    line-height: 1.75em;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    border: 2px solid #2d2d2d;
    -webkit-user-select: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: #0da902;
    text-decoration: none;
}

.btn:active {
    background-color: #06ff00;
    color: black;
}

.btn.ext::after {
    content: " ";
    display: inline-block;
    background-image: url(/assets/fa/external.svg);
    background-size: 10px;
    filter: grayscale(1);
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.btn.ext:hover::after {
    filter: grayscale(0);
}

.btn.ext:active::after {
    filter: grayscale(1) brightness(0);
}

.btn + label {
    display: block;
    font-size: 0.8em;
    color: #808080;
    padding: 0.5em 0;
}

hr {
    border-color: $bg-colour;
}

h1, h2, h3 {
    color: lime;
    font-weight: 500;
}

pre {
    background: $pre-colour;
    color: lime;
    padding: 1em;
    overflow-x: auto;
}

.width-80 {
    pre {
        max-width: 80ch;
    }
}

code {
    color: lime;
    font-size: 1.1em;
}
