@import 'variables.scss';

$splash-height: calc(40vh + #{$header-height});

.splash-block {
    display: block;
    height: $splash-height;
}

.splash {
    position: absolute;
    left: 0;
    right: 0;
    height: $splash-height;
    background: black;
    overflow: hidden;
    font-size: 1.1em;
    margin-top: -$header-height;

    h2 {
        color: white;
    }

    .chroma-backdrop {
        position: relative;
        height: $splash-height;
        pointer-events: none;

        .chroma-ring {
            position: absolute;
            height: 150vh;
            top: -65vh;
            left: -30vw;
            animation: rotate 5s linear infinite;
        }
    }

    .splash-details {
        background: rgba(0,0,0,0.5);
        padding-top: $header-height;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@media screen and (min-width: $screen-sm) {
    .splash-details-inner {
        margin-top: 10vh;
    }
}
