@import 'variables.scss';

$splash-height: calc(40vh + #{$header-height});

.splash {
    height: $splash-height;
    background: black;
    overflow: hidden;
    position: relative;
    font-size: 1.1em;
    margin-top: -$header-height;
    margin-bottom: 4em;

    h2 {
        color: white;
    }

    .chroma-backdrop {
        height: $splash-height;
        pointer-events: none;

        .chroma-ring {
            position: absolute;
            height: 150vh;
            top: -65vh;
            left: -5vw;
            animation: rotate 5s linear infinite;
        }
    }

    .splash-details {
        background: rgba(0,0,0,0.5);
        display: flex;
        position: absolute;
        left: 50vw;
        top: $header-height;
        bottom: 0;
        right: 0;
        max-width: $trigger-mobile;
        padding: 1em 2em;
    }
}

.splash-details-inner {
    margin: auto 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@media (min-width: $trigger-mobile + 1px) {
    .splash {
        .splash-details {
            max-width: 600px;
        }
    }
}

@media (max-width: $trigger-mobile) {
    .splash {
        height: 70vh;

        .splash-details {
            left: 0;
        }
    }
}
