@import "variables.scss";

.tab-container {
    margin: 30px 0;
}

.tabs {
    display: flex;
}

.btn-tab {
    background: lighten($bg-secondary, 5%);
    border: 1px solid $table-colour;
    color: #fff;
    cursor: pointer;
    display: flex;
    padding: 8px 12px;
    margin: 0;
    outline: 0;

    img {
        filter: grayscale(1);
        max-height: 15px;
        min-width: 15px;

        vertical-align: middle;
    }

    span {
        padding-left: 5px;
    }

    &:hover,
    &:focus {
        border-color: lighten($table-colour, 10%);
        color: darken($fg-colour, 10%);
        border-bottom-color: transparent;
    }

    &:disabled {
        pointer-events: none;
        color: $text-disabled;
    }
}

@mixin checked_tab {
    background: $bg-secondary;
    color: $primary;
    cursor: default;
    border-color: $primary;
    border-bottom-color: transparent;

    img {
        filter: grayscale(0);
    }
}

#radio-download-stable:checked {
    ~ .tabs #btn-tab-stable {
        @include checked_tab;
    }

    ~ #tab-content-stable {
        display: block;
    }
}

#radio-download-testing:checked {
    ~ .tabs #btn-tab-testing {
        @include checked_tab;
    }

    ~ #tab-content-testing {
        display: block;
    }
}

#radio-download-edge:checked {
    ~ .tabs #btn-tab-edge {
        @include checked_tab;
    }

    ~ #tab-content-edge {
        display: block;
    }
}

.tab-content {
    background: $bg-secondary;
    border: 1px solid $table-colour;
    display: none;
    margin: -1px 0;
    padding: 10px;
}
