@import 'variables.scss';

html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.transition-fade {
    transition: opacity 0.3s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
