@import 'variables.scss';

.page-in {
    animation: page-in ease-out $page-speed;
    visibility: visible;
}

@keyframes page-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
