@import 'variables.scss';

body {
    font-family: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
