/* Play - Google Font */
@import url('https://fonts.googleapis.com/css?family=Play');

/* Colours */
$fg-colour: white;
$bg-colour: #323232;
$bg-gradient: linear-gradient(#000000, #323232);

/* Fonts */
$primary-font: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;

/* Screen Sizes */
$screen-lg: 540px;
$screen-md: 720px;
$screen-sm: 960px;
$screen-xl: 1140px;
