/* Colours */
$primary: #00FF00;
$secondary: #008000;

$text-colour: white;
$grey-colour: darken($text-colour, 33%);
$bg-colour: #161616;
$bg-secondary: #000;
$bg-button: #323232;
$sidebar-heading: #969696;
$table-colour: #282828;
$table-colour-alt: #191919;
$table-colour-head: #3C3C3C;
$border-colour: #2D2D2D;
$button-text: #D6D6D6;
$negative-colour: #800000;

/* Fonts */
$primary-font: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;

/* Screen Sizes */
$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;

$trigger-mobile: 720px;

/* Transitions */
$btn-speed: 0.25s;
$page-speed: 0.3s;

/* Dimensions */
$header-height: 125px;
