/* Colours */
$fg-colour: white;
$bg-colour: #323232;
$bg-gradient: linear-gradient(#323232, #000000, #161616);
$pre-colour: #232323;

/* Fonts */
$primary-font: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;

/* Screen Sizes */
$screen-lg: 540px;
$screen-md: 720px;
$screen-sm: 960px;
$screen-xl: 1140px;

/* Transitions */
$btn-speed: 0.25s;
$page-speed: 0.25s;

/* Dimensions */
$header-height: 125px;
