/***********************
 * Fonts
 **********************/
/* Google Web Font - Play */
@import url('https://fonts.googleapis.com/css?family=Play');

html, body {
    background: #323232;
    background: linear-gradient(#000000, #323232);
    margin: 0;
}

body {
    color: white;
    font-family: 'Play', 'Ubuntu', 'DejaVu Sans', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/***********************
 * Interface
 **********************/
a {
    color: lime;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:focus {
    outline-color: lime;
}

/***********************
 * Layout
 **********************/
.wrapper {
    max-width: calc(1200px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Clearfix */
.wrapper:after,
.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/***********************
 * Header
 **********************/
body > header {
    padding: 0.75em 0;
    border-bottom: 1px solid lime;
    background: #000;
}

.site-title {
    text-decoration: none !important;
}

.site-title:hover {
    color: lime;
}

.site-title * {
    vertical-align: middle;
}

.site-title span {
    font-size: 2em;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.site-nav a {
    color: lime;
}

.site-nav a + a {
    margin-left: 0.5em;
}

.site-nav a.active {
    color: white;
    font-weight: bold;
}

.site-nav .nav-trigger {
    display: none;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .site-title span {
        display: none;
    }

    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #484848;
        border: 1px solid #000;
        border-radius: 5px;
        text-align: right;
        margin-top: 0.75em;
    }

    .site-nav a {
        display: block;
        padding: 0 1em;
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .menu-icon>svg path {
        fill: #808080;
    }

    .site-nav input~.trigger {
        clear: both;
        display: none;
    }

    .site-nav input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
}

/***********************
 * Footer
 **********************/
footer {
    border-top: 1px solid gray;
    padding: 0.5em 0;
    color: gray;
    font-size: 0.9em;
    margin-top: auto;
    background: #000;
}

footer .left {
    float: left;
}

footer .left a {
    color: gray;
    text-decoration: dashed;
    text-decoration-line: underline;
}

footer .right {
    float: right;
    position: relative;
    top: 0.6em;
}

footer .social-links {
    float: right;
    position: relative;
    top: 0.2em;
    margin-left: 0.5em;
}

footer .social-links img {
    width: 24px;
    height: 24px;
    padding: 0 0.25em;
    transition: opacity 0.2s;
    opacity: 1;
}

footer .social-links a:hover img,
footer .social-links a:focus img {
    opacity: 0.75;
}

footer .right a + a {
    padding: 0 0.5em;
}

@media screen and (max-width: 600px) {
    footer .left,
    footer .right {
        text-align: center;
        padding: 0.5em 0;
        float: none;
        position: static;
    }
}

/***********************
 * Animations
 **********************/
@-webkit-keyframes spectrum {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(720deg);
    }
}

header {
    animation-name: spectrum;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

header:hover,
header:focus {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    filter: none !important;
}

.typed-cursor {
    animation: blink 0.75s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/***********************
 * Splash (homepage)
 **********************/
#splash {
    position: absolute;
    left: 0;
    right: 0;
    height: 60vh;
    background-color: black;
    background-image: url(/assets/img/splash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: lime;
    font-size: 24px;
}

#splash-title {
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.7em;
}

#splash-text {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2em;
    font-size: 1.5em;
}

#splash-block {
    height: 60vh;
}

/***********************
 * Error Page (404)
 **********************/
 #error-page {
    position: absolute;
    left: 0;
    top: 78px;
    bottom: 46px;
    right: 0;
    background-color: black;
    background-image: url(/assets/img/error.jpg);
    background-position: center;
    background-repeat: no-repeat;
 }

 #error-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 6em;
    padding: 1em 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
 }

 #error-text h3 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
 }

 #error-text p {
    font-size: 1em;
    margin: 0;
 }

/***********************
 * Buttons
 **********************/
 .homepage-buttons {
    margin: 2em 0;
    text-align: center;
 }

 .button-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
 }

.btn {
    width: auto;
    height: 30px;
    background-color: #323232;
    color: #ded9cb;
    display: inline-block;
    padding: 4px 16px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    border: 2px solid #2d2d2d;
    -webkit-user-select: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: #0da902;
    text-decoration: none;
}

.btn:active {
    background-color: #06ff00;
    color: black;
}

.btn + label {
    display: block;
    font-size: 0.8em;
    color: #808080;
    padding: 0.5em 0;
}
