{% assign distro_id = include.distro_id %}
{% assign distro_name = include.distro_name %}

<h3>
    <img src="/assets/img/distros/{{ distro_id }}.svg" alt=""/>
    {{ distro_name }}
</h3>

<blockquote class="pkg-cmd">
    <code>{{ site.data.dependencies.packagemgr[distro_id] }}{% for pkg in site.data.dependencies.packages %} {{ pkg.packages[distro_id] }}{% endfor %}</code>
</blockquote>

<table class="dependency-table">
    <thead>
        <tr>
            <th>Package</th>
            <th>Component</th>
        </tr>
    </thead>
    <tbody>
        {% for package in site.data.dependencies.packages %}
            <tr>
                <td>
                    {% capture link %}{{ site.data.dependencies.link_prefix[distro_id] }}{{ package.packages[distro_id] }}{% endcapture %}
                    {% if package.aur == true %}
                        {% capture link %}{{ site.data.dependencies.link_prefix.aur }}{{ package.packages[distro_id] }}{% endcapture %}
                    {% endif %}
                    <a href="{{ link }}">{{ package.packages[distro_id] }}</a>
                </td>
                <td>
                    {% assign components = package.required_by | split: ',' %}
                    {% for component in components %}
                        {% if component == "controller" %}
                            <img src="/assets/img/apps/controller.svg" alt="Controller"/> Controller
                        {% elsif component == "tray" %}
                            <img src="/assets/img/apps/tray-applet.svg" alt="Tray Applet"/> Tray Applet
                        {% elsif component == "all" %}
                            All
                        {% elsif component == "build" %}
                            Build only
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
