<div class="tab-container">

    <input id="radio-download-stable" name="tab" type="radio" style="display:none" checked />

    {% if include.preview %}
        <input id="radio-download-preview" name="tab" type="radio" style="display:none"/>
    {% endif %}

    <div class="tabs">

        <label id="btn-tab-stable" for="radio-download-stable" class="btn-tab" tabindex="0">
            <img src="/assets/fa/box.svg" alt=""/>
            <span>Release</span>
        </label>

        {% if include.preview %}
            <label id="btn-tab-preview" for="radio-download-preview" class="btn-tab" tabindex="0">
                <img src="/assets/fa/flask.svg" alt=""/>
                <span>Preview</span>
            </label>
        {% endif %}

    </div>

    <div id="tab-content-stable" class="tab-content">
        {{ include.stable | markdownify }}
    </div>

    {% if include.preview %}
        <div id="tab-content-preview" class="tab-content">
            {{ include.preview | markdownify }}
        </div>
    {% endif %}
</div>
