{% for category in site.data.sidebar-docs %}

    <div class="category-heading">{{ category.title }}</div>

    {% for item in category.items %}
        {% if subpage.category == parent.id %}
        <a href="{{ item.url | relative_url }}" onclick="change_doc(this)" class="category nav-docs {% if item.indent %}indent-{{ item.indent}}{% endif %} {% if item.url == page.permalink %}active{% endif %} {% if item.disabled == true %}disabled{% endif %}" {% if item.disabled == true %}style="display:none" disabled{% endif %}>
            {{ item.name }}
        </a>
        {% endif %}
    {% endfor %}

{% endfor %}

<a id="back-to-top" class="category" href="#">Back to top</a>
