@import 'variables.scss';

/****************************
 * Index page
*****************************/
.distros {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.distro {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background: black;
    border: 1px solid green;
    margin: 0.5em;
    padding: 1em;
    width: 10em;
    transition: border-color $btn-speed, filter $btn-speed;

    img {
        height: 5em;
        margin: 0 auto;
        filter: grayscale(1);
        transition: filter $btn-speed;
    }

    span {
        display: block;
        margin: 1em auto 0.25em;
        color: green;
        transition: color $btn-speed;
    }

    &:hover,
    &:focus {
        border-color: lime;
        text-decoration: none;

        img {
            filter: grayscale(0);
        }

        span {
            color: lime;
        }
    }

    &:active,
    &.active {
        background-color: lime;

        img {
            filter: grayscale(1) brightness(0.25);
            transition: none;
        }

        span {
            color: black;
        }
    }
}

@media screen and (max-width: $trigger-mobile) {
    .distros {
        justify-content: center;
    }

    .distro {
        width: 8em;

        img {
            height: 3.5em;
        }
    }
}

/* Badges */
.distro.community {
    position: relative;
    overflow: hidden;

    &::before {
        content: "Community";
        background: $red;
        color: white;
        font-size: 0.7em;
        position: absolute;
        top: 1.5em;
        right: -4.25em;
        padding: 0.25em 4em;
        transform: rotate(45deg);
    }
}


/****************************
 * Distro Instructions
*****************************/
.download-page {
    .distro-logo {
        width: 100%;
        padding: 2em;
    }

    .download-instructions img {
        max-width: 100%;
    }
}

.backend-list {
    .backend {
        display: inline-flex;

        img {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            margin: auto 0.25em;
        }

        span {
            margin: auto;
        }
    }
}

@media screen and (max-width: $screen-md) {
    .download-page {
        .distro-logo {
            padding: 1em;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .download-page {
        .distro-logo {
            display: none;
        }
    }
}

.back-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    margin-top: 1.25em;

    img {
        position: absolute;
        right: -1em;
        width: 1.5em;
        height: 1.5em;
    }

    &:hover,
    &:focus {
        img {
            opacity: 0.5;
        }
    }
}
