@import 'variables.scss';

/****************************
 * Index page
*****************************/
.distros {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}

.distro {
    --distro-accent: $secondary;

    display: inline-flex;
    flex-direction: column;
    text-align: center;
    background: $bg-secondary;
    border: 1px solid $border-colour;
    margin: 0.5em;
    padding: 1em;
    width: 12em;
    transition: border-color $btn-speed, filter $btn-speed;

    img {
        height: 5em;
        margin: 0 auto;
        filter: brightness(0.8);
        transition: filter $btn-speed;
    }

    span {
        display: block;
        margin: 1em auto 0.25em;
        color: $grey-colour;
        transition: color $btn-speed;
    }

    &:hover,
    &:focus {
        border-color: var(--distro-accent);
        text-decoration: none;

        img {
            filter: none;
        }

        span {
            color: var(--distro-accent);
        }
    }

    &:active,
    &.active {
        background-color: var(--distro-accent);

        img {
            filter: grayscale(1) brightness(0.25);
            transition: none;
        }

        span {
            color: black;
        }
    }
}

@media screen and (max-width: $trigger-mobile) {
    .distros {
        justify-content: center;
    }

    .distro {
        width: 8em;

        img {
            height: 3.5em;
        }
    }
}

/* Badges */
.distro.community {
    position: relative;
    overflow: hidden;

    &::before {
        content: "Community";
        background: $border-colour;
        color: white;
        font-size: 0.7em;
        position: absolute;
        top: 1.5em;
        right: -4.25em;
        padding: 0.25em 4em;
        transform: rotate(45deg);
    }
}

.distro.detected {
    animation: distro-detected 2s infinite;
}

@keyframes distro-detected {
    0% {
        box-shadow: 0px 0px 2px $primary;
    }
    50% {
        box-shadow: 0px 0px 10px $primary;
    }
    100% {
        box-shadow: 0px 0px 2px $primary;
    }
}

#unsupported-os {
    background: $bg-secondary;
    border: 1px solid $red;
    display: flex;
    margin: 1em 10em;
    animation: unsupported-glow 2s infinite;

    img {
        margin: 1em 2em;
        height: 5em;
    }

    h2 {
        color: lighten($red, 50%);
    }
}

@keyframes unsupported-glow {
    0% {
        box-shadow: 0px 0px 2px $red;
    }
    50% {
        box-shadow: 0px 0px 10px $red;
    }
    100% {
        box-shadow: 0px 0px 2px $red;
    }
}

/****************************
 * Distro Instructions
*****************************/
.download-page {
    .distro-logo {
        width: 100%;
        padding: 2em;
    }

    .download-instructions img {
        max-width: 100%;
    }
}

.backend-list {
    .backend {
        display: inline-flex;

        img {
            height: 32px;
            width: 32px;
            vertical-align: middle;
            margin: auto 0.25em;
        }

        span {
            margin: auto;
        }
    }
}

@media screen and (max-width: $screen-md) {
    .download-page {
        .distro-logo {
            padding: 1em;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .download-page {
        .distro-logo {
            display: none;
        }
    }
}

.back-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    margin-top: 1.25em;

    img {
        position: absolute;
        right: -1em;
        width: 1.5em;
        height: 1.5em;
    }

    &:hover,
    &:focus {
        img {
            opacity: 0.5;
        }
    }
}
