@import 'variables.scss';

.distros {
    margin: 2em 0;

    .col {
        text-align: center;
        background: black;
        border: 1px solid green;
        margin: 0.5em;
        padding: 1em;
        transition: border-color $btn-speed, filter $btn-speed;

        &:hover,
        &:focus {
            border-color: lime;
            text-decoration: none;

            img {
                filter: grayscale(0);
            }

            span {
                color: lime;
            }
        }

        &:active,
        &.active {
            background-color: lime;

            img {
                filter: grayscale(1) brightness(0.25);
                transition: none;
            }

            span {
                color: black;
            }
        }

        img {
            height: 100%;
            max-height: 5em;
            max-width: 5em;
            filter: grayscale(1);
            transition: filter $btn-speed;
        }

        span {
            display: block;
            margin: 1em 0;
            color: green;
            transition: color $btn-speed;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .distros {
        .col {
            flex: 1 auto;
            display: flex;
            flex-direction: row;

            span {
                margin: auto;
            }
        }
    }
}

.download-page {
    .distro-logo {
        width: 100%;
        padding: 2em;
    }

    .download-instructions img {
        max-width: 100%;
    }
}

@media screen and (max-width: $screen-md) {
    .download-page {
        .distro-logo {
            padding: 1em;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .download-page {
        .distro-logo {
            display: none;
        }
    }
}

.back-arrow {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    margin-top: 1.25em;

    img {
        position: absolute;
        right: -1em;
        width: 1.5em;
        height: 1.5em;
    }

    &:hover,
    &:focus {
        img {
            opacity: 0.5;
        }
    }
}
