<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content" id="swup">

        {{ content }}

        <input id="current-page-class" value="{{ page.class }}" style="display:none"/>

    </main>

    {% include footer.html %}

    {% assign timestamp = site.time | date: '%s' %}
    <script src="/assets/lib/swup.umd.js?{{ timestamp }}"></script>
    <script src="/assets/polychromatic.js?{{ timestamp }}"></script>

  </body>
</html>
