<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main aria-label="Content" id="swup">

        {{ content }}

        <input id="current-page-class" value="{{ page.class }}" style="display:none"/>

    </main>

    {% include footer.html %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "https://polychromatic.app",
                        "name": "Home"
                    }
                }
                {% if page.permalink != "/" %}
                  ,
                    {% if page.layout == "download-page" %}
                        {
                            "@type": "ListItem",
                            "position": 2,
                            "item": {
                                "@id": "https://polychromatic.app/download/",
                                "name": "Download"
                            }
                        },
                        {
                            "@type": "ListItem",
                            "position": 3,
                            "item": {
                                "@id": "https://polychromatic.app{{ page.permalink }}",
                                "name": "{{ page.title | replace:'Download - ','' }}"
                            }
                        }
                    {% else %}
                        {
                            "@type": "ListItem",
                            "position": 2,
                            "item": {
                                "@id": "https://polychromatic.app{{ page.permalink }}",
                                "name": "{{ page.title }}"
                            }
                        }
                    {% endif %}
                {% endif %}
            ]
        }
    </script>

    <script src="/assets/lib/swup.min.js"></script>
    <script src="/assets/polychromatic.js"></script>

  </body>

</html>
