<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="barba-wrapper">
            <div class="barba-container">
                {{ content }}
            </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

  <script src="/assets/lib/jquery-3.3.1.min.js"></script>
  <script src="/assets/lib/barba.min.js"></script>
  <script src="/assets/js/polychromatic.js"></script>

</html>
