---
layout: default
---
<article class="wrapper transition-fade">

    <header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    <div class="row">
        <div class="col distros">
            {% assign sorted_distros = page.distros | sort: 'name' %}
            {% for distro in sorted_distros %}
                <a id="{{ distro.name | replace: ' ','_' }}" class="distro {% if distro.community == true %}community{% endif %}" href="{{ distro.link }}" onclick="download_selected(this)" style="--distro-accent: rgb({{ distro.accent }})">
                    <img src="/assets/img/distros/{{ distro.icon }}" alt="{{ distro.name }} logo"/>
                    <span>{{ distro.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    <p class="center">
        <a href="../" class="btn">
            {% include svg/arrow-left.svg %}
            Back to Downloads
        </a>
    </p>

</article>
