---
layout: default
---
<article class="wrapper transition-fade">

    <header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    {% for backend in page.backends %}
        <h2>Works with {{ backend.name }}</h2>
        <div class="device-backend-links">
            <a class="link" href="{{ backend.url }}">
                {% include svg/info-circle.svg %}
                {{ backend.url }}
            </a>
            <a class="link" href="{{ backend.src_url }}">
                {% include svg/git-alt.svg %}
                {{ backend.src_url }}
            </a>
        </div>

        {% if backend.coverage %}
            <p>{{ backend.coverage }}</p>
        {% endif %}

        <noscript>
            <div style="color:orange">
                JavaScript is required to retrieve the device list from {{ backend.name }}'s website.
            </div>
            <style>
                .device-list-loading {
                    display: none;
                }
            </style>
        </noscript>

        <div id="{{ backend.id }}-info" class="device-list-info">
            Retrieving data...
        </div>

        <table id="{{ backend.id }}-device-table" class="device-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>VID:PID</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    {% endfor %}

</article>
