---
layout: default
---
<article class="page">

    <div class="page-content">

        <div class="row">
            <div class="sidebar col-3">
                <a class="category-home nav-btn {% if page.permalink == "/docs/" %}active{% endif %}" href="/docs/" onclick="changePage(this)">Documentation Home</a>

                {% for parent in site.sidebar %}

                <div class="category-heading">{{ parent.name }}</div>

                  {% for subpage in site.pages %}
                    {% if subpage.category == parent.id %}
                    <a href="{{ subpage.permalink | relative_url }}" onclick="changePage(this)" class="nav-btn category {% if page.permalink == subpage.permalink %}active{% endif %}">{{ subpage.title }}</a>
                    {% endif %}
                  {% endfor %}

                {% endfor %}

            </div>

            <div class="col topic">
                <h1 class="page-title">{{ page.title | escape }}</h1>

                {{ content }}

                <hr>

                <div style="text-align:right">
                    <a class="editme grey right" href="{{ site.source_code_url }}/edit/master/{{ page.path }}">Edit this page on GitHub</a>
                </div>

            </div>
        </div>

    </div>

</article>
