---
layout: default
---
<article class="wrapper transition-fade">

    <header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    <div class="row">
        <div class="col distros">
            {% for distro in page.distros %}
                <a class="distro" href="/download/{{ distro.url }}/" onclick="download_selected(this)">
                    <img src="/assets/img/distros/{{ distro.url }}.svg" alt="{{ distro.name }} logo"/>
                    <span>{{ distro.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    {{ content }}

</article>
