---
layout: default
---
<article class="wrapper transition-fade">

    <header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    <div id="unsupported-os" style="display:none" hidden>
        <img id="unsupported-os-img" src="" alt=""/>
        <div>
            <h2>Your operating system is not supported yet</h2>
            <p class="grey">Sorry! Polychromatic only runs on GNU/Linux systems.</p>
            <p>
                <a class="btn" href="https://docs.polychromatic.app/faqs/#is-windows-or-macos-supported">Read FAQs</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col distros">
            {% for page in site.pages %}
                {% if page.layout != "download-page" %}{% continue %}{% endif %}
                <a id="{{ page.distro }}" class="distro {% if page.distro_unofficial == true %}community{% endif %}" href="{{ page.permalink }}" onclick="download_selected(this)" style="--distro-accent: rgb({{ page.distro_accent }})">
                    <img src="/assets/img/distros/{{ page.distro }}.svg" alt="{{ page.name }} logo"/>
                    <span>{{ page.distro_name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    <p class="center">
        <a href="/download/derivatives/" class="btn">
            {% include svg/magnifying-glass.svg %}
            Not listed?
        </a>
    </p>

</article>
