---
layout: default
---
<article class="wrapper transition-fade">

    <header>
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    <div id="unsupported-os" style="display:none" hidden>
        <img id="unsupported-os-img" src="" alt=""/>
        <div>
            <h2>Your operating system is not supported yet</h2>
            <p class="grey">Sorry! Polychromatic only runs on GNU/Linux systems.</p>
            <p>
                <a class="btn" href="https://docs.polychromatic.app/faqs/#is-windows-or-macos-supported">Read FAQs</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col distros">
            {% for distro in page.distros %}
                <a id="{{ distro.url }}" class="distro {{ distro.class }}" href="/download/{{ distro.url }}/" onclick="download_selected(this)">
                    <img src="/assets/img/distros/{{ distro.url }}.svg" alt="{{ distro.name }} logo"/>
                    <span>{{ distro.name }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    {{ content }}

</article>
