---
layout: default
---
<article class="page">

    <div class="page-content">

        <div class="download-page row">

            <div class="col-3">
                <a class="back-arrow" href="../"><img src="/assets/fa/back.svg" alt=""/></a>

                <img class="distro-logo" src="/assets/img/distros/{{ page.distro }}.svg" alt=""/>
            </div>

            <div class="col-9">

                <h1>{{ page.distro_name }}</h1>

                {{ content }}

            </div>

        </div>

    </div>

</article>
