---
layout: default
---
<input type="hidden" id="header-accent" value="{{ page.distro_accent }}"/>

<article class="wrapper transition-fade">

    <div class="download-page row">

        <div class="col-1 col-sm-3">
            <a class="back-arrow" href="../"><img src="/assets/fa/back.svg" alt=""/></a>

            <img class="distro-logo" src="/assets/img/distros/{{ page.distro }}.svg" alt=""/>
        </div>

        <div class="col-11 col-sm-9 download-instructions">

            <h1>{{ page.distro_name }}</h1>

            {{ content }}

            <hr>

            <h2>Install a backend</h2>
            <p>If you haven't already, you'll need to install a backend that provides support for your device.</p>
            <div class="backend-list">
                {% for backend in site.data.backends %}
                    {% if page.backends[backend.id] %}
                        <a class="btn " href="{{ page.backends[backend.id] }}">
                            <img src="{{ backend.logo }}" alt="{{ backend.name }} logo"/>
                            <span>{{ backend.name }}</span>
                        </a>
                    {% else %}
                        <div class="btn disabled">
                            <img src="{{ backend.logo }}" alt="{{ backend.name }} logo"/>
                            <span>{{ backend.name }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>

</article>
