---
layout: default
---
<input type="hidden" id="header-accent" value="{{ page.distro_accent }}"/>

<article class="wrapper transition-fade">

    <div class="download-page row">

        <div class="col-1 col-sm-3">
            <a class="back-arrow" href="../"><img src="/assets/fa/back.svg" alt=""/></a>

            <img class="distro-logo" src="/assets/img/distros/{{ page.distro_icon }}" alt=""/>
        </div>

        <div class="col-11 col-sm-9 download-instructions">

            <h1>{{ page.distro_name }}</h1>

            {{ content }}

            {% if page.inherits and page.inherits != nil %}
                {%- for _page in site.pages -%}
                    {% if _page.distro_name == page.inherits %}
                        {{ _page.content | markdownify }}
                    {% endif %}
                {%- endfor -%}
            {% endif %}

        </div>

    </div>

</article>
