---
layout: default
---
<article class="transition-fade">

    <header class="wrapper">
        <h1 class="page-title">{{ page.title | escape }}</h1>
    </header>

    <!-- Modified version of features include -->
    {% for feature in page.features %}

    <div class="row feature {% if forloop.last %}last{% endif %} large">

        <div class="feature-image-wrapper col-12 col-sm-6">
            {% include img-2x.html src=feature.image %}
        </div>

        <div class="feature-text-wrapper col-12 col-sm-6">
            <h2 class="feature-title">{{ feature.title }}</h2>

            <div class="feature-text">
                {{ feature.text | markdownify }}

                {% if feature.button %}
                    <a class="btn" href="{{ feature.button.url }}">{{ feature.button.label }}</a>
                {% endif %}
            </div>

        </div>

    </div>

    {% endfor %}

    {{ content }}

</article>
