---
layout: default
---
<article class="post">

    <div id="splash">
        <div id="splash-text">
            <div id="splash-title">What's Polychromatic?</div>
            <span id="typed"></span>
            <div id="typed-strings" style="display:none">
                {% for string in page.typed_strings %}
                    <p>{{ string }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="splash-block"></div>

    <div class="homepage-buttons">
        <div class="button-block">
            <a class="btn" href="{{ page.left_button_link }}">{{ page.left_button_text }}</a>
            <label>{{ page.left_button_label }}</label>
        </div>
        <div class="button-block">
            <a class="btn" href="{{ page.right_button_link }}">{{ page.right_button_text }}</a>
            <label>{{ page.right_button_label }}</label>
        </div>
    </div>

    <div class="post-content">
        {{ content }}
    </div>

</article>
