---
layout: default
---
<article class="transition-fade">

    <div class="splash">
        <div class="wrapper">
            <div class="chroma-backdrop">
                <img class="chroma-ring" alt="Chroma ring" src="/assets/img/splash/chroma.svg">
            </div>
            <div class="splash-details">
                <div class="splash-details-inner">
                    <h2>{{ page.splash_title }}</h2>
                    <p>{{ page.splash_paragraph }}</p>
                    <a href="{{ page.splash_button_url }}" class="btn">{{ page.splash_button_text }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <h1 class="center">{{ page.titles.image_box }}</h1>
        {% include partials/image-box.html %}
    </div>

    {% include partials/features.html %}

    <div class="wrapper">
        {{ content }}
    </div>

</article>
