---
layout: default
---
<article class="page">

    <div class="page-content">

        <div class="row">
            <div class="sidebar col-3 transition-fade">
                {% include partials/sidebar.html %}
            </div>

            <div class="col topic transition-fade">

                <h1 class="page-title">{{ page.title | escape }}</h1>

                <div class="roadmap">
                    {% for version in page.roadmap %}
                    <div class="row">
                        <div class="line">
                            <div class="circle {% if version.checked == true %}checked{% endif %} {% if version.checked == 'progress' %}progress{% endif %}"></div>
                        </div>
                        <div class="col">
                            <h3>{{ version.name }}</h3>
                            <ul class="completed">
                                {% for item in version.completed %}
                                <li>
                                    <div class="check"></div>
                                    {{ item }}
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="in_progress">
                                {% for item in version.in_progress %}
                                <li>
                                    <div class="circle"></div>
                                    {{ item }}
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="pending">
                                {% for item in version.pending %}
                                <li>
                                    <div class="bullet"></div>
                                    {{ item }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {{ content }}

            </div>
        </div>

    </div>

</article>
